h1 {
    text-align: center;
}

.container {
    max-width: 700px;
    padding-top: 150px;
}

.table-container {
    max-width: 800px;
    padding-top: 50px;
}

.fa-sort {
    float: right;
}

@media screen and (max-width: 800px) {
    .table {
        width: 100%;
    }
}

#subsHelp {
    text-align:center;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
}

.subscriptions {
    display: flex;
}

.form-check {
    flex-basis: 120px;
}

.admin-url {
    position: absolute;
    right: 0;
    top: 0;
}

.button-group {
    text-align: center;
}